## Desafio Codenation - Semana 3

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
#Importando dadps
df = pd.read_csv('data/desafio1.csv', index_col= 'RowNumber')

In [5]:
df.head()

,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
RowNumber,,,,,,,,,,,
1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 1 to 7000
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        7000 non-null   object
 1   sobrenome                 7000 non-null   object
 2   pontuacao_credito         7000 non-null   int64
 3   estado_residencia         7000 non-null   object
 4   genero                    7000 non-null   object
 5   idade                     7000 non-null   int64
 6   nivel_estabilidade        7000 non-null   int64
 7   saldo_conta               7000 non-null   float64
 8   numero_produtos           7000 non-null   int64
 9   possui_cartao_de_credito  7000 non-null   int64
 10  membro_ativo              7000 non-null   int64
dtypes: float64(1), int64(6), object(4)
memory usage: 656.2+ KB

In [7]:
#Nenhuma variável nula
df.columns

Index(['id', 'sobrenome', 'pontuacao_credito', 'estado_residencia', 'genero',
       'idade', 'nivel_estabilidade', 'saldo_conta', 'numero_produtos',
       'possui_cartao_de_credito', 'membro_ativo'],
      dtype='object')

In [8]:
#Série com pandas de uma série Pandas
resposta_json = df.groupby(['estado_residencia']).agg({'pontuacao_credito': [pd.Series.mode, 'median','mean','std']})

In [9]:
#Renomeando as colunas
resposta_json.columns = [
    'moda',
    'mediana',
    'media',
    'desvio_padrao']

In [10]:
resposta_json

                   moda  mediana       media  desvio_padrao
estado_residencia
PR                  850      650  648.961294      98.607186
RS                  850      650  651.105143      95.136598
SC                  850      653  649.537653      97.233493

In [11]:
#Submissão do Json
resposta_json.transpose().to_json('submission.json')